.sidebar {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 26vw;
  min-width: 250px;
  height: 100vh;
  overflow: hidden;
  transition: left 1s !important;
}
.active {
  left: 0px;
}
.inactive {
  left: -400px;
}

.closeButton {
  width: 100%;
  text-align: right;
  padding-top: 24px;
  padding-right: 24px;
}
.closeButton svg {
  cursor: pointer;
}

.buttons {
  position: absolute;
  bottom: 1vh;
  text-align: center;
  margin-bottom: 10%;
}
.buttons Button {
  width: 90%;
  margin-bottom: 1vh;
}
.textContent {
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
}
.forecastContent {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 0px;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}