.mapContainer {
  width: 100%;
  height: 100vh;
  z-index: 0;
}
.flexContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow:hidden;
}
.overlapContainer {
  position:absolute;
  width: 100vw;
}

.test {
  position: absolute;
  z-index: 1;
  left: 30px;
  bottom: 30px;
}